body{
  background-color: black;
}
.background {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
   h1{
     color: #ffffff;
   }
  .img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
   
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
   
  .form-signin .form-control {
    height: 45px;
  }